// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
// Vue bootstrap
@import '~bootstrap-vue/src/index.scss';
// Logo
@import "logo";
// jQuery UI
@import '~jquery-ui/themes/base/all.css';

body, html {
  height: 100%;
}

.cursor-pointer {
  cursor: pointer;
}

.text-overline {
  text-decoration: line-through !important;
}

.tfoot-hide-sort th:after {
  display: none !important;
}

.dashboard-item{
  max-width: 20rem;
}