$mdc-typography-font-family: 'Oswald';
$mdc-theme-primary: #2c353e;
$background: #f2f2f2;
$foreground: #34b0cb;
$mdc-text-field-background: $background;

@import url('https://fonts.googleapis.com/css?family=Oswald:400,700&subset=cyrillic');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

@import url('https://fonts.googleapis.com/css?family=Oswald:400,700&subset=cyrillic');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import "~normalize.css";
@import "logo";


@import "~@material/button/mdc-button";
@import "~@material/typography/mdc-typography";
@import "~@material/textfield/mdc-text-field";
@import "~@material/switch/mdc-switch";

body {
  background: $background;
  font-family: $mdc-typography-font-family;
}

.mdc-text-field {
  border-radius: 0;
}

.mdc-button {
  margin-top: 5px;
  border-radius: 0;
  background: $foreground !important;
  color: $background !important;
  width: 188px;
  padding-left: 0;
  padding-right: 0;
}

.auth-form {
  text-align: center;
}

.logo {
  display: block;
  transform: scale(2);
  margin: 40px auto 20px auto;
}

.hidden {
  display: none;
}

.mdc-text-field-helper-text {
  color: #34b0cb;
  width: 176px;
  text-align: left;
  padding-left: 16px;
  white-space: pre;
}