.mdc-button {
  border-radius: 0;
}

.hidden {
  display: none;
}

.mdc-text-field {
  border-radius: 0;
}

.form-button {
  margin-top: 5px;
  width: 188px;
  padding-left: 0;
  padding-right: 0;
  background: $foreground !important;
  color: $background !important;
}

body {
  font-family: $mdc-typography-font-family;
}

.entities-list {
  border: 1px solid var(--mdc-theme-text-secondary-on-background, rgba(0, 0, 0, 0.54));
}

.page-button:not(:disabled){
  background: $foreground;
  color: $background;
}

.page-button{
  margin-right: 5px;
  margin-bottom: 5px;
}

.entities-list li {
  cursor: pointer;
}

.text-decoration-none {
  text-decoration: none;
}
