.mdc-button {
  border-radius: 0;
}

.hidden {
  display: none;
}

.mdc-text-field {
  border-radius: 0;
}

.form-button {
  margin-top: 5px;
  width: 188px;
  padding-left: 0;
  padding-right: 0;
  background: $foreground !important;
  color: $background !important;
}
